<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>LivePhotoForge</string>

    <key>CFBundleDisplayName</key>
    <string>LivePhotoForge</string>

    <key>CFBundleIdentifier</key>
    <string>com.livephotoforge.app</string>

    <key>CFBundleVersion</key>
    <string>1</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleExecutable</key>
    <string>LivePhotoForge</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>

    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 LivePhotoForge. All rights reserved.</string>

    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>LivePhotoForge 需要访问您的照片图库，以便将转换后的实况图自动导入相册。</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>LivePhotoForge 需要访问您的照片图库，以便将转换后的实况图自动导入相册。</string>

    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Video</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.movie</string>
                <string>public.mpeg-4</string>
                <string>com.apple.quicktime-movie</string>
                <string>public.avi</string>
            </array>
        </dict>
    </array>

    <key>NSHighResolutionCapable</key>
    <true/>

    <key>NSSupportsAutomaticTermination</key>
    <true/>
</dict>
</plist>
